.key-pair-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-content: stretch;
  align-items: center; }
  @media (max-width: 700px) {
    .key-pair-container {
      flex-direction: column; } }
  .key-pair-container .item {
    padding: 5px;
    align-self: auto;
    word-break: break-all;
    max-width: 80%; }
    @media (max-width: 700px) {
      .key-pair-container .item {
        max-width: 98%; } }
    .key-pair-container .item.key {
      flex: 0 0 auto;
      color: green;
      text-align: right; }
    .key-pair-container .item.value {
      flex: 1 0 auto;
      color: white; }
      @media (max-width: 700px) {
        .key-pair-container .item.value {
          align-self: flex-start; } }
