.key-pair-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto; }
  .key-pair-container .key {
    color: greenyellow; }
  .key-pair-container .value {
    text-align: left;
    word-wrap: break-word;
    color: blue; }

@media (min-width: 700px) {
  .key-pair-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto 200px; }
    .key-pair-container .key {
      text-align: right;
      width: 300px; }
    .key-pair-container .value {
      width: 20vw; } }

@media (max-width: 700px) {
  .key-pair-container .value {
    width: 90vw; } }
