.key-pair-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto;

  .key {
    color: greenyellow;
  }
  .value {
    text-align: left;
    word-wrap: break-word;
    color: blue;
  }
}

@media (min-width: 700px) {
  .key-pair-container  {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto 200px;

    .key {
      text-align: right;
      width: 300px;
    }

    .value {
      width: 20vw;
    }
  }
}

@media (max-width: 700px) {

  .key-pair-container  {

    .value {
      width: 90vw;
    }
  }
}

